<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  
  <h4 ng-app"myApplicationModule">Map demo</h4>
  <p>
    <div ng-controller="MainCtrl">
      <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" bounds="map.bounds">
        <ui-gmap-marker data-ng-repeat="marker in map_markers" idkey='marker' coords='marker' icon="'marker.icon'">
            <ui-gmap-window show="showWindow"  closeClick="'closeClick'">
              <div ng-controller="InfoController">
                <a href="javascript:void(0)" ng-click='clickedButtonInWindow("{{marker.title}}")'>hit me</a>
              </div>
            </ui-gmap-window>
        </ui-gmap-markers>
        <ui-gmap-circle data-ng-repeat="circle in circles" center="circle.center" radius="circle.radius"
                              fill="{color: '#607D8B', opacity: 0.2 }" stroke="{ weight: 0 }" >
        </ui-gmap-circle>
      </ui-gmap-google-map>
    </div>
  </p>
  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
